@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,9000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #1589AD;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
}


.navigation ul li{ 
    position: relative;
    width: 100%;
    list-style: none;
    
}

.navigation ul li:hover{
    background: #29CBFF;
    border-left: 4px solid white;
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover{
    background: transparent;
    border-left: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    color: #fff;
    font-size: 24px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 5px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li a img{
    width: 10vw;
    margin-left: 13px;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar{
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1000;
}

.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.search label .fa{
    position: absolute;
    left: 15px;
    top: 1px;
}

.user{
    position: relative;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------ Product Details------------- */
.details{
    width: 100%;
    padding: 20px;
}
.details .orders{
    background: #fff;
    padding: 20px; 
}
.details .orders .laptop-img{
    margin-bottom: 15px;
}
.details .orders .laptop-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.details .orders .img2{
    margin-left: 70px;
}
.details .orders .img2 img{
    width: 70px;
    height: 70px;
}
.details .orders .laptop-img .text-img{
    vertical-align: middle;
    padding-left: 10px;
}
.details .orders .laptop-img .upload-icon{
    padding-left: 12px;
}

.details .orders p{
    font-size: 18px;
    padding-bottom: 10px;
}
.details .orders .status{
    color: #666666;
}
#product_form{
    padding-top: 2px;
}
.details .orders-form{
    display: flex;
}
.details .orders-form form{
    display: flex;
    flex-direction: column;
}
.details .orders-form .form select{
    width: 75%;
    margin-bottom: 15px;
    background: #F1F1F1;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.details .orders-form .form label{
    margin-bottom: 10px;
    font-size: 20px;
}
.details .orders-form .form input{
    width: 100%;
    background: #F1F1F1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    border: none;
}
.details .orders-form .form input[type=submit]{
    background: #1589AD;
    color: #ffffff;
    font-weight: 600;
    width: 83%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px 8px 20px;
}

.header h2{
    font-weight: 400;
}
hr{
    margin: 0px 20px;
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
/* ------- End of Product details ------- */



/* responsiv */
@media (max-width: 992px){
    .navigation ul li a img {
        width: 17vw;
    }
    .navigation{
        left: -300px
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
}

@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .header h2{
        font-weight: 600;
        font-size: 18px;
    }
    .navigation ul li a img {
        width: 17vw;
    }
    .details .orders .laptop-img .upload-icon{
        padding-left: 20px;
    }
    .details .orders .img2 img{
        margin-bottom: 10px;
    }
}

@media (max-width: 480px){
    .details .orders{
        overflow-x: auto;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle.active{
        z-index: 10000;
        right: 0;
        left: initial;
        position: fixed;
    }
    .toggle.active::before{
        color: #fff;
    }
    .navigation ul li a img {
        width: 30vw;
    }
    .main,
    .main.active{
        width: 100%;
        left: 0;
    }

}