@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
  
}

/* copy from here for the navbar */
header {
  min-height: 10vh;
  background-color: #29CBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


nav.navigation-contents {
  width: 95%;
  min-height: 5vh;
  display: flex;
}

.navbar-brand-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

div.navigation-item-container{
  width: 90%;
}
div.navigation-image-container > img{
 margin-top: 20px;
}

.navigation-item-container1 {
  display: none;
  margin: 5px;
}

.navigation-category-content {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px 15px 0px;
  list-style: none;
}

.nav-links-item > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 22px 0px 15px 0px;
  color: white;
}

.icon-links a, .icon-links a:hover{
  color: white;
}
.loginBtn{
  padding: 7px 10px;
  font-size: 13px;
  margin-top: 0;
  font-weight: 500;
  border-radius: 7px;
  border: 2px solid white;
  color: #444444;
  background-color: white;
  box-shadow: #444444;
}
#wish{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 443px;
  font-size: 12px;
  text-align: center;
}
#cart{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 347px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

/* .count{
  position: absolute;
  top: 8px;
  right: 425px;
  font-size: 12px;
  font-weight: bold;
  color: red
}
.count2{
  position: absolute;
  top: 8px;
  right: 331px;
  font-size: 12px;
  font-weight: bold;
  color: red
} */
.navigation-icons {
  flex: 2;
}

.search-box{
  background: #29CBFF;
  position: absolute;
  top: 70px;
  right: 20%;
  width: 279px;
  height: 53px;
  line-height: 37px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #29CBFF;
  display: none;
}

.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #29CBFF;
}

.search-box input[type="text"]{
  width: 200px;
  padding: 6px 10px 0px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #29CBFF;
  outline: none;
}

.search-box input[type="button"]{
  width: 70px;
  padding: 6px 0px;
  background: #29CBFF;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #29CBFF;
  outline: none;
  cursor: pointer;
}
/* stop here and scroll to the bottom */




/* copy from here */
footer {
  background-color: #0a1c22;
  width: 100%;
  margin-top: 40px;
}

.footer-contents {
  width: 95%;
  min-height: calc(30vh - 12.8px);
  margin: 0 auto;
  display: flex;
  color: whitesmoke;
}

.contact-us-container {
  flex: 1;
}

footer-title {
  font-family: "Josefin Sans", sans-serif;
}

p.footer-description {
  font-size: 15px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

ul.footer-links {
  list-style: none;
  padding-left: 0px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

li.footer-links-item > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.fa-home {
  font-size: 24px;
}

#envelope {
  color: whitesmoke;
  margin-right: 8px;
  font-size: 18px;
}

.fa-phone {
  color: whitesmoke;
  margin-right: 8px;
  font-size: 24px;
}
.subscribe-container {
  flex: 1;
}

.social-media-container {
  flex: 1;
}

#facebook {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#twitter {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#instagram {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.useful-links-container {
  flex: 1;
}

p.footer-description1 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}
.Submit-Mail{
  border: none;
}

.fa-envelope {
  color: #0a1c22;
}
.copy{
  margin-top: 18px;
  color: #ffffff;
}





/* to here */

/* copy from here for responsiveness */
@media screen and (max-width: 768px) {
  #navigation.navigation-category-content {
    display: none;
  }
  div.navigation-image-container > img {
    margin-top: 0px;
  }
  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-links > li {
    margin: 10px 0px;
  }
  nav.navigation-contents {
    flex-direction: column;
    margin-top: 20px;
  }
  #navigation1.navigation-icons {
    display: none;
  }
  .navigation-item-container1 {
    display: block;
  }
  .footer-contents {
    flex-direction: column;
  }
  .contact-us-container {
    text-align: center;
  }
  .useful-links-container {
    text-align: center;
  }
  .social-media-container {
    text-align: center;
  }
  .subscribe-container {
    text-align: center;
  }
  #form-container {
    margin: 0 auto;
  }
}

/* end here for the navbar and footer responsiveness  now to Javascript. head to index and copy everything there*/



/* index page  */

/* short code  */
.bg_blue{   background-color: #2cccff;}
.bg_white{background-color: #fff;}
.bg_grey{background-color: #f1f1f1;}
.left_radius{border-radius: 6px;}
.right_radius{border-end-end-radius: 6px; border-top-right-radius: 6px;}
.white{  color: #fff;}
.p5{padding: 5px; margin: 3px; border-radius: 50%;}
.p3{padding: 3px;}
.pt3{padding-top: 8px;}
.p4{padding: 5px; margin-top:5px;}
.p7{padding: 19px;margin: 10px 0px;}
.p8{padding: 5px;margin: 10px 0px;}
.text-danger{color: red}

.carousel-caption {
  width: 50%;
  left:0%;
  top: 20%;
  color: #222222 !important;
  text-align: left;
  font-family:  sans-serif; 
}

.carousel-caption h1,.carousel-caption p {
  font-weight: bold;
}
.carousel-caption a.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  background:#2cccff;
  color: #fff;
  border: none;
  margin-top: 2em;
}
.carousel-caption a:hover{
  background-color: #0c8ab4;
}


/* featured product */


.featured_box {
  border:none;
  padding: 15px;
  cursor: pointer;
  /* font-family: 'Josefin Sans', sans-serif;  */
}
.featured_box a{
  text-decoration: none;
}
.featured_box .img-holder a{
  background-color:#2cccff;
  color: #fff;
  margin: 2px 2px 10px 2px;
  padding: 2px 20px;
  font-weight: bolder;
}
.featured_box .img-holder a:hover{
  background-color: #0c8ab4;
}

/* ads  */
.partners{
  margin-top: 4em;  
}