/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
}

/* copy from here for the navbar */
header {
  min-height: 10vh;
  background-color: #29CBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


nav.navigation-contents {
  width: 95%;
  min-height: 5vh;
  display: flex;
}

.navbar-brand-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

div.navigation-item-container{
  width: 90%;
}
div.navigation-image-container > img{
 margin-top: 20px;
}

.navigation-item-container1 {
  display: none;
  margin: 5px;
}

.navigation-category-content {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px 15px 0px;
  list-style: none;
}

.nav-links-item > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 22px 0px 15px 0px;
  color: white;
}
.loginBtn{
  padding: 7px 10px;
  font-size: 13px;
  margin-top: 0;
  font-weight: 500;
  border-radius: 7px;
  border: 2px solid white;
  color: #444444;
  background-color: white;
  box-shadow: #444444;
}
.count{
  position: absolute;
  top: 8px;
  right: 425px;
  font-size: 12px;
  font-weight: bold;
  color: red
}
.count2{
  position: absolute;
  top: 8px;
  right: 331px;
  font-size: 12px;
  font-weight: bold;
  color: red
}
.navigation-icons {
  flex: 2;
}

.search-box{
  background: #29CBFF;
  position: absolute;
  top: 70px;
  right: 20%;
  width: 279px;
  height: 53px;
  line-height: 37px;
   z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #29CBFF;
  display: none;
}

.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #29CBFF;
}

.search-box input[type="text"]{
  width: 200px;
  padding: 6px 10px 0px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #29CBFF;
  outline: none;
}

.search-box input[type="button"]{
  width: 70px;
  padding: 6px 0px;
  background: #29CBFF;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #29CBFF;
  outline: none;
  cursor: pointer;
}
/* stop here and scroll to the bottom */

.main-container{min-height: 100vh; }

/* .bg_blue{   background-color: #2cccff;} */
.bg_main{background-color: #F8F8F8;}
.bg_grey{background-color: #E5E5E5;}
.c_red{color: #FA0A0A;}
.pl-5{margin-left: 5px;}
.p-5{padding: 10px;}


/* breadcumb */
/* .navigation{margin-top: 10px; margin-left: 10px;} */
.li-1{text-decoration: none; color: #444444;}
.li-2{color: #444444;}
.underline{text-decoration: underline 2px solid #29CBFF;}



/* copy from here */
footer {
  background-color: #0a1c22;
  width: 100%;
  margin-top: 40px;
}

.footer-contents {
  width: 95%;
  min-height: calc(30vh - 12.8px);
  margin: 0 auto;
  display: flex;
  color: whitesmoke;
}

.contact-us-container {
  flex: 1;
}

footer-title {
  font-family: "Josefin Sans", sans-serif;
}

p.footer-description {
  font-size: 15px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

ul.footer-links {
  list-style: none;
  padding-left: 0px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

li.footer-links-item > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.fa-home {
  font-size: 24px;
}

#envelope {
  color: whitesmoke;
  margin-right: 8px;
  font-size: 18px;
}

.fa-phone {
  color: whitesmoke;
  margin-right: 8px;
  font-size: 24px;
}
.subscribe-container {
  flex: 1;
}

.social-media-container {
  flex: 1;
}

#facebook {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#twitter {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#instagram {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.useful-links-container {
  flex: 1;
}

p.footer-description1 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}
.Submit-Mail{
  border: none;
}

.fa-envelope {
  color: #0a1c22;
}
.copy{
  margin-top: 18px;
  color: #ffffff;
}

/* .text-center{
  font-size: 15px;
  font-weight: 700px;
  font-family: "Josefin Sans", sans-serif;
} */




/* to here */

/* copy from here for responsiveness */
@media screen and (max-width: 768px) {
  #navigation.navigation-category-content {
    display: none;
  }
  div.navigation-image-container > img {
    margin-top: 0px;
  }
  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-links > li {
    margin: 10px 0px;
  }
  nav.navigation-contents {
    flex-direction: column;
    margin-top: 20px;
  }
  #navigation1.navigation-icons {
    display: none;
  }
  .navigation-item-container1 {
    display: block;
  }
  .search-box{
    width: 270px;
    right: -16%;
  }
  .search-box input[type="text"]{
    width: 140px;
    margin-left: 15px;
  }
  .search-box input[type="button"] {
    margin-right: 12px;
  }


  .footer-contents {
    flex-direction: column;
  }
  .contact-us-container {
    text-align: center;
  }
  .useful-links-container {
    text-align: center;
  }
  .social-media-container {
    text-align: center;
  }
  .subscribe-container {
    text-align: center;
  }
  #form-container {
    margin: 0 auto;
  }
  
}

/* end here for the navbar and footer responsiveness  now to Javascript. head to index and copy everything there*/
