@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* breadcumb */
.li-1{text-decoration: none; color: #444444;}
.li-2{color: #444444;}
.underline{text-decoration: underline;} 


body{
  background-color: #7ADFFF;
  font-family: 'Josefin Sans', sans-serif;
}
.main-div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px; 
}
.div-1{
  background: #fff;
  width: 100%;
  max-width: 20rem;
  height: 100%;
  max-height: 25rem ;
 
}
.Path-flex{
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
  padding-bottom: 20px;
  max-width: 100%;
  width: 30rem;
}
.Path-flex > a > h3{text-transform: uppercase;}

.Login{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}
.input-container{
  position: relative;
  border: 0.1px solid #444;
  border-radius: 25px;

}
.far, .fas{
  position: absolute;
  left: 14px;
  top: 12px;
  font-size: 1.3rem;
  color: #444444;
}
.input-container > input{
  border: none;
  padding: 15px;
  outline: none;
  margin-left: 2rem;
  max-width: 25rem;
  border-radius: 25px;
  background-color: #fff;
}
.input-container > input::placeholder {
  color: #444444;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 15px;
}
.input-container small{
  position: absolute;
  left: 4rem;
  bottom: 4px;
  margin-top: 10px;
  visibility: hidden;
}
.group .check{
  float: left;
}
.group a{
  float: right;
  text-decoration: none;
  color: #000;
}

}
.login-path{
  color: #000;
}
.register-path{
  text-decoration: none;
}

/* BUTTON DESIGNS */

.Login #Login{
  position: relative;
  width: 13rem;
  height: 3rem;
  border-radius: 25px;
  box-shadow:4px 4px 5px rgb(223, 213, 213);
  border: 1px solid rgb(223, 213, 213);
  margin: auto;
  background-color: #7ADFFF;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

#Login i{
  position: absolute;
  left: 150px;
  bottom: 15px;
  color: #fff;
}

/* DESIGN FOR ERROR MESSAGE */

.input-container.error{
  border: 1.5px solid #ff0000;
}
.input-container.error small{
  visibility: visible;
  color: #ff0000;
}
.input-container.error input{
  margin-bottom: 10px;
}

/* SUCCESS MESSAGE */
.input-container.success{
  border: 1px solid #008000;
}