header {
  min-height: 10vh;
  background-color: #29CBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


nav.navigation-contents {
  width: 95%;
  min-height: 5vh;
  display: flex;
}

.navbar-brand-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

div.navigation-item-container{
  width: 90%;
}
div.navigation-image-container > img{
 margin-top: 20px;
}

.navigation-item-container1 {
  display: none;
  margin: 5px;
}

.navigation-category-content {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px 15px 0px;
  list-style: none;
}

.nav-links-item > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 22px 0px 15px 0px;
  color: white;
}
.loginBtn{
  padding: 7px 10px;
  font-size: 13px;
  margin-top: 0;
  font-weight: 500;
  border-radius: 7px;
  border: 2px solid white;
  color: #444444;
  background-color: white;
  box-shadow: #444444;
}
#wish{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 443px;
  font-size: 12px;
  text-align: center;
}
#cart{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 347px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.navigation-icons {
  flex: 2;
}

.search-box{
  background: #29CBFF;
  position: absolute;
  top: 70px;
  right: 20%;
  width: 279px;
  height: 53px;
  line-height: 37px;
   z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #29CBFF;
  display: none;
}

.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #29CBFF;
}

.search-box input[type="text"]{
  width: 200px;
  padding: 6px 10px 0px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #29CBFF;
  outline: none;
}

.search-box input[type="button"]{
  width: 70px;
  padding: 6px 0px;
  background: #29CBFF;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #29CBFF;
  outline: none;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  #navigation.navigation-category-content {
    display: none;
  }
  div.navigation-image-container > img {
    margin-top: 0px;
  }
  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-links > li {
    margin: 10px 0px;
  }
  nav.navigation-contents {
    flex-direction: column;
    margin-top: 20px;
  }
  #navigation1.navigation-icons {
    display: none;
  }
  .navigation-item-container1 {
    display: block;
  }
  .footer-contents {
    flex-direction: column;
  }
  .contact-us-container {
    text-align: center;
  }
  .useful-links-container {
    text-align: center;
  }
  .social-media-container {
    text-align: center;
  }
  .subscribe-container {
    text-align: center;
  }
  #form-container {
    margin: 0 auto;
  }

  .count2, .count{
    display: none;
    
  }
  #cart{
    display: none;
  }
  #wish{
    display: none;
  }
}