@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* breadcumb */
.li-1{text-decoration: none; color: #ffffff;}
.li-2{color: #ffffff;}
.underline{text-decoration: underline ;}
.navigation{color: white; margin: 20px;} 


body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #7ADFFF;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.div-1{
  background: #fff;
  width: 100%;
  max-width: 30rem;
}
.Register{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin: 30px;
}
.input-container{
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  position: relative;
}
.input-container i{
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 1.2rem;
}
.input-container small{
  position: absolute;
  bottom: 3px;
  left: 3rem;
  visibility: hidden;
}
.input-container > input{
  outline: none;
  border: none;
  padding-left: 2rem;
  /* padding-bottom: 10px; */
}
.input-container > input::placeholder{
  color: #444;
  font-family: 'Josefin Sans', sans-serif;
}
.Path-flex{
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;

}
.Path-flex > a > h3{
  text-transform: uppercase;
}
.Register > #Register{
  position: relative;
  background-color: red;
  height: 3rem;
  width: 13rem;
  margin: auto;
  border-radius: 25px;
  box-shadow:4px 4px 5px rgb(223, 213, 213);
  border: 1px solid rgb(223, 213, 213);
  background-color: #7ADFFF;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
#Register i{
  position: absolute;
  left: 150px;
  bottom: 15px;

}
.LinkToSignIn > a{
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

/* CSS ERROR MESSAGE DESIGN */
.input-container.error > input{
  padding-bottom: 10px;
}
.input-container.error small{
  visibility: visible;
  color: #ff0000;
  font-size: 13px;
}
.input-container.error{
  border: 1px solid #ff0000;
}

/* SUCCESS MESSAGE */
.input-container.success{
  border: 1px solid #008000;
}